<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAPORAN PEMBELIAN</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>LAPORAN PEMBELIAN</h1>
    <!-- model Product {
        id          String    @id 
        name        String
        price       Float
        image       String?
        stock       Int
        minStock    Int
        supplier    Supplier  @relation(fields: [supplierId], references: [id])
        supplierId  String
        orderItems  OrderItem[]
      }
      
      model Order {
        id              String      @id 
        user            User        @relation(fields: [userId], references: [id])
        userId          String
        createdAt       DateTime    @default(now())
        isCheckedOut    DateTime?
        customerName    String?
        customerPhone   String?
        customerAddress String?
        totalPrice      Float?
        items           OrderItem[]
      }
      
      model OrderItem {
        id        String    @id
        order     Order     @relation(fields: [orderId], references: [id])
        orderId   String
        product   Product   @relation(fields: [productId], references: [id])
        productId String
        quantity  Int
        price     Float
      } -->

    <!-- HTML TABLE USING EJS -->
    <table border="1" cellspacing="0" cellpadding="10" width="100%">
        <thead>
            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2">Id Pembelian</th>
                <th rowspan="2">Pembeli</th>
                <th colspan="4">Item Pembelian</th>
                <th rowspan="2">Waktu Pembelian</th>
                <th rowspan="2">Total</th>
            </tr>
            <tr>
                <th>Nama Produk</th>
                <th>Harga</th>
                <th>Jumlah</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <% let counter=1; %>
                <% orders.forEach((order, index)=> { %>
                    <tr>
                        <td rowspan="3">
                            <%= counter++ %>
                        </td>
                        <td rowspan="<%= order.items.count %>">
                            <%= order.id %>
                        </td>
                        <td rowspan="<%= order.items.count %>">
                            <%= order.customerName %>
                        </td>
                        <td>
                            <%= order.items[0].name %>
                        </td>
                        <td>
                            <%= order.items[0].product.price %>
                        </td>
                        <td>
                            <%= order.items[0].quantity %>
                        </td>
                        <td>
                            <%= order.items[0].total %>
                        </td>
                        <td rowspan="<%= order.items.count %>"></td>
                        <td rowspan="<%= order.items.count %>"></td>
                    </tr>
                    <% order.items.forEach((item, index)=> { %>
                        <tr>
                            <td>
                                <%= order.items[index+1].name %>
                            </td>
                            <td>
                                <%= order.items[index+1].product.price %>
                            </td>
                            <td>
                                <%= order.items[index+1].quantity %>
                            </td>
                            <td>
                                <%= order.items[index+1].total %>
                            </td>
                        </tr>
                        <% }) %>
                            <% }) %>
        </tbody>
    </table>
</body>

</html>